In [2]:
import pandas as pd

In [9]:
pip install category_encoders

Collecting category_encoders
  Downloading https://files.pythonhosted.org/packages/a0/52/c54191ad3782de633ea3d6ee3bb2837bda0cf3bc97644bb6375cf14150a0/category_encoders-2.1.0-py2.py3-none-any.whl (100kB)
     |████████████████████████████████| 102kB 1.4MB/s
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.16.5)
Requirement already satisfied: scipy>=0.19.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (1.3.1)
Requirement already satisfied: statsmodels>=0.6.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.10.1)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.5.1)
Requirement already satisfied: scikit-learn>=0.20.0 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.21.3)
Requirement already satisfied: pandas>=0.21.1 in /usr/local/lib/python3.6/dist-packages (from category_encoders) (0.24.2)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from patsy>=0.4.1->category_encoders) (1.12.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.6/dist-packages (from scikit-learn>=0.20.0->category_encoders) (0.14.0)
Requirement already satisfied: python-dateutil>=2.5.0 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas>=0.21.1->category_encoders) (2018.9)
Installing collected packages: category-encoders
Successfully installed category-encoders-2.1.0

In [2]:
df = pd.read_csv('Downloads/berlin-airbnb-data/listings_summary.csv', engine='python', encoding='utf-8', error_bad_lines=False)
df.shape

(22552, 96)

In [ ]:
columns = [
    'neighbourhood_group_cleansed',
    'room_type',
    'accommodates',
    'bathrooms',
    'bedrooms',
    'beds',
    'bed_type',
    'amenities',
    'price',
    'security_deposit',
    'cleaning_fee',
    'minimum_nights',
    'instant_bookable'         
]

df = df[columns]

In [4]:
df['bathrooms'] = df['bathrooms'].fillna(df['bathrooms'].mean()).astype(float)
df['bedrooms'] = df['bedrooms'].fillna(df['bedrooms'].mean()).astype(float)
df['beds'] = df['beds'].fillna(df['beds'].mean()).astype(float)
df['security_deposit'] = df['security_deposit'].fillna('$0.00')
df['cleaning_fee'] = df['cleaning_fee'].fillna('$0.00')

df['price'] = df['price'].str.replace('$', '').str.replace(',', '').astype(float)
df['security_deposit'] = df['security_deposit'].str.replace('$', '').str.replace(',', '').astype(float)
df['cleaning_fee'] = df['cleaning_fee'].str.replace('$', '').str.replace(',', '').astype(float)

df['neighborhood'] = df['neighbourhood_group_cleansed']
df = df.drop(columns=['neighbourhood_group_cleansed'])
df.isna().sum()

room_type           0
accommodates        0
bathrooms           0
bedrooms            0
beds                0
bed_type            0
amenities           0
price               0
security_deposit    0
cleaning_fee        0
minimum_nights      0
instant_bookable    0
neighborhood        0
dtype: int64

In [5]:
df['instant_bookable'] = df['instant_bookable'].replace({'t': 1, 'f': 0})
df['neighborhood'] = df['neighborhood'].str.replace('ö', 'o')
df.head(4)

         room_type  accommodates  ...  instant_bookable            neighborhood
0  Entire home/apt             3  ...                 0                   Mitte
1     Private room             2  ...                 0                  Pankow
2  Entire home/apt             4  ...                 1                  Pankow
3     Private room             2  ...                 0  Tempelhof - Schoneberg

[4 rows x 13 columns]

In [6]:
df['amenities'] = df['amenities'].str.replace('{',"[")
df['amenities'] = df['amenities'].str.replace('}',"]")
df['amenities'] = df['amenities'].str.replace('"',"")
df['amenities'] = df['amenities'].apply(lambda x: x.lower())

df['wifi'] = df['amenities'].str.contains('wifi').astype(str)
df['wifi'] = df['wifi'].replace({'True': 1, 'False': 0})
df = df.drop(columns='amenities')


df.head()

         room_type  accommodates  ...            neighborhood  wifi
0  Entire home/apt             3  ...                   Mitte     1
1     Private room             2  ...                  Pankow     1
2  Entire home/apt             4  ...                  Pankow     1
3     Private room             2  ...  Tempelhof - Schoneberg     1
4     Private room             2  ...                  Pankow     1

[5 rows x 13 columns]

In [7]:
df.describe()

       accommodates     bathrooms  ...  instant_bookable          wifi
count  22552.000000  22552.000000  ...      22552.000000  22552.000000
mean       2.637460      1.092695  ...          0.311901      0.954106
std        1.510548      0.329660  ...          0.463280      0.209260
min        1.000000      0.000000  ...          0.000000      0.000000
25%        2.000000      1.000000  ...          0.000000      1.000000
50%        2.000000      1.000000  ...          0.000000      1.000000
75%        3.000000      1.000000  ...          1.000000      1.000000
max       16.000000      8.500000  ...          1.000000      1.000000

[8 rows x 10 columns]

In [ ]:
accomodates = [1, 2, 3, 4, 5, 6, 7, 8]
bathrooms = [1.0, 1.5, 2.0]
bedrooms = [0.0, 1.0, 2.0, 3.0]
beds = [1.0, 2.0, 3.0, 4.0]
bed_type = [Real Bed, Pull-out Sofa, Futon, Couch, Airbed]
instant_bookable = [0, 1] <---boolean
minimum_nights = [1, 2, 3, 4, 5, 6, 7]
neighborhood = [Friedrichshain-Kreuzberg, Mitte, Pankow, Neukolln]
room_type = [Private room, Entire home/apt, Shared room]
wifi = [0, 1]  <---boolean

In [ ]:
import category_encoders as ce
encoder = ce.OrdinalEncoder(cols = [
    'neighborhood',
    'room_type',
    'bed_type'
    ])

X = df.drop(['price'], axis=1)
y = df['price']

X_encoded = encoder.fit_transform(X)

In [12]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X_encoded, y, test_size=0.25)

X_train.shape, X_test.shape, y_train.shape, y_test.shape

((16914, 12), (5638, 12), (16914,), (5638,))

In [1]:
import pickle
filename = 'encoder.pkl'
pickle.dump(encoder, open(filename, 'wb'))

NameError: name 'encoder' is not defined

In [ ]:
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
inputs = X_train.shape[1]

In [14]:
model = Sequential()
model.add(Dense(128, activation='relu', input_shape=(inputs,)))
model.add(Dense(128, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(128, activation='relu'))
model.add(Dense(1))

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/ops/resource_variable_ops.py:1630: calling BaseResourceVariable.__init__ (from tensorflow.python.ops.resource_variable_ops) with constraint is deprecated and will be removed in a future version.
Instructions for updating:
If using Keras pass *_constraint arguments to layers.

In [15]:
# Compile Model
model.compile(optimizer='adagrad', loss='mae', metrics=['mae'])

# Fit Model

model.fit(X_train, y_train, 
          validation_split=0.33,
          epochs=20
         )

WARNING:tensorflow:From /usr/local/lib/python3.6/dist-packages/tensorflow_core/python/keras/optimizer_v2/adagrad.py:107: calling Constant.__init__ (from tensorflow.python.ops.init_ops) with dtype is deprecated and will be removed in a future version.
Instructions for updating:
Call initializer instance with the dtype argument instead of passing it to the constructor
Train on 11332 samples, validate on 5582 samples
Epoch 1/20
11332/11332 [==============================] - 1s 109us/sample - loss: 41.1732 - mean_absolute_error: 41.1732 - val_loss: 29.1727 - val_mean_absolute_error: 29.1727
Epoch 2/20
11332/11332 [==============================] - 1s 72us/sample - loss: 35.4773 - mean_absolute_error: 35.4773 - val_loss: 27.6402 - val_mean_absolute_error: 27.6402
Epoch 3/20
11332/11332 [==============================] - 1s 73us/sample - loss: 34.4778 - mean_absolute_error: 34.4779 - val_loss: 27.1355 - val_mean_absolute_error: 27.1354
Epoch 4/20
11332/11332 [==============================] - 1s 68us/sample - loss: 33.8182 - mean_absolute_error: 33.8182 - val_loss: 26.5091 - val_mean_absolute_error: 26.5091
Epoch 5/20
11332/11332 [==============================] - 1s 82us/sample - loss: 33.3863 - mean_absolute_error: 33.3863 - val_loss: 26.2597 - val_mean_absolute_error: 26.2597
Epoch 6/20
11332/11332 [==============================] - 1s 70us/sample - loss: 32.9953 - mean_absolute_error: 32.9953 - val_loss: 26.0502 - val_mean_absolute_error: 26.0502
Epoch 7/20
11332/11332 [==============================] - 1s 75us/sample - loss: 32.7104 - mean_absolute_error: 32.7104 - val_loss: 25.7081 - val_mean_absolute_error: 25.7081
Epoch 8/20
11332/11332 [==============================] - 1s 71us/sample - loss: 32.4974 - mean_absolute_error: 32.4974 - val_loss: 25.6332 - val_mean_absolute_error: 25.6332
Epoch 9/20
11332/11332 [==============================] - 1s 72us/sample - loss: 32.3651 - mean_absolute_error: 32.3651 - val_loss: 25.6725 - val_mean_absolute_error: 25.6725
Epoch 10/20
11332/11332 [==============================] - 1s 73us/sample - loss: 32.2418 - mean_absolute_error: 32.2418 - val_loss: 26.7585 - val_mean_absolute_error: 26.7585
Epoch 11/20
11332/11332 [==============================] - 1s 72us/sample - loss: 32.1399 - mean_absolute_error: 32.1399 - val_loss: 26.4569 - val_mean_absolute_error: 26.4569
Epoch 12/20
11332/11332 [==============================] - 1s 71us/sample - loss: 31.9889 - mean_absolute_error: 31.9889 - val_loss: 25.1738 - val_mean_absolute_error: 25.1738
Epoch 13/20
11332/11332 [==============================] - 1s 72us/sample - loss: 31.9183 - mean_absolute_error: 31.9183 - val_loss: 25.0950 - val_mean_absolute_error: 25.0950
Epoch 14/20
11332/11332 [==============================] - 1s 73us/sample - loss: 31.8517 - mean_absolute_error: 31.8517 - val_loss: 25.1271 - val_mean_absolute_error: 25.1271
Epoch 15/20
11332/11332 [==============================] - 1s 73us/sample - loss: 31.7816 - mean_absolute_error: 31.7816 - val_loss: 25.0061 - val_mean_absolute_error: 25.0061
Epoch 16/20
11332/11332 [==============================] - 1s 71us/sample - loss: 31.7176 - mean_absolute_error: 31.7176 - val_loss: 24.9255 - val_mean_absolute_error: 24.9255
Epoch 17/20
11332/11332 [==============================] - 1s 73us/sample - loss: 31.6852 - mean_absolute_error: 31.6852 - val_loss: 24.8703 - val_mean_absolute_error: 24.8703
Epoch 18/20
11332/11332 [==============================] - 1s 76us/sample - loss: 31.5997 - mean_absolute_error: 31.5997 - val_loss: 24.8058 - val_mean_absolute_error: 24.8058
Epoch 19/20
11332/11332 [==============================] - 1s 71us/sample - loss: 31.5652 - mean_absolute_error: 31.5652 - val_loss: 24.8221 - val_mean_absolute_error: 24.8221
Epoch 20/20
11332/11332 [==============================] - 1s 70us/sample - loss: 31.4981 - mean_absolute_error: 31.4981 - val_loss: 24.7750 - val_mean_absolute_error: 24.7750

In [16]:
from sklearn.metrics import mean_absolute_error

preds = model.predict(X_test)
mean_absolute_error(preds, y_test)

30.27615238039491

In [17]:
from sklearn.ensemble import RandomForestRegressor
rfr = RandomForestRegressor(random_state=42)


rfr.fit(X_train, y_train)
preds = rfr.predict(X_test)
mean_absolute_error(preds, y_test)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:245: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

27.36839304717985

In [18]:
rfr.feature_importances_

array([0.01966198, 0.06674001, 0.04516031, 0.04987846, 0.05114629,
       0.02157156, 0.12683606, 0.16859495, 0.19374894, 0.04558842,
       0.19179855, 0.01927447])

In [ ]:
import pickle
filename = 'model.pkl'
pickle.dump(rfr, open(filename, 'wb'))